@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

body {
    background-image: url('../image/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding-top: 4em;
    font-size: 20px;
    font-family: 'Bilbo Swash Caps', cursive;
}

.whisky, .empty-whisky, .inkpen, .page {
    filter: drop-shadow(15px 15px 5px var(--shadow));
}

.desktop{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.whisky{
    display: flex;
    float: left;

    
}
.inkpen{
    float: right;
}


.pages {
    display: flex;
    width: auto;
    flex-basis : 65%;
    margin:1em;
    justify-content: space-between;
}

.page {
    height:65vh;
    padding: 3vw;
    width: 50%;
    background-blend-mode: multiply;
}

.leftpage {
    background: url('../image/paper.png'), linear-gradient(270deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius: 24px 40% 40% 24px/8px 8px 8px 8px;
}

.rightpage {
    background: url('../image/paper.png'), linear-gradient(90deg, rgba(157,158,137,1) 0%, rgba(233,226,187,1) 5%, rgba(255,251,203,1) 18%);
    border-radius:  40% 24px 24px 40%/8px 8px 8px 8px;
    overflow: auto;
}

.form input, #payment{
    width: 90%;
    height: 15px;
}

caption{
    margin-bottom: 20px;
    border-bottom: solid 1px #555b61;
    margin-inline: -60px;
}

table{
    margin: 0 auto;
    font-size: 20px;
}

tr{
    text-align: right;
}

tfoot td:nth-child(2){
    border-top: solid 1px black;
}



@media screen and (max-width:1200px){
    .inkpen{
        display:none;
    }
}

@media screen and (max-width: 1000px){
    .whisky{
        display:none;
    }

    .desktop{
        justify-content: center;
    }
}

@media (max-width: 800px){
    .pages{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .leftpage, .rightpage{
        display: flex;
        width: 100%;
    }
}